@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 90%;
    margin: 2rem auto;
}

.container {
    margin: 1rem auto;
}

p {
    font-size: 13px;
}


.div table { 
    width: 80%;
    margin: 2rem auto;
}

.table thead {
    border-width: 0.3px;
    border-color: black;
}

.table thead th {
    color: black;
    background-color: lightgrey;
}

td {
    color: white;
}
